.side-scroller-3 {
  position: relative;
  margin: 0 auto;
  width: var(--max-width);
}

.media-scroller-3 {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 18rem;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  padding: 1rem 0;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.media-scroller-3::-webkit-scrollbar {
  height: 8px;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.media-scroller-3::-webkit-scrollbar-track {
  background: var(--scroll-bar-color-light);
  border-radius: var(--border-radius);
}
.media-scroller-3::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color-dark);
  border-radius: var(--border-radius);
}
