.large-cards {
  width: var(--max-width);
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem 2rem;
}

.large-cards .img {
  width: 100%;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 800px) {
  .large-cards .img {
    max-width: calc(50% - 1rem);
    min-width: 10rem;
  }
}
@media screen and (min-width: 1000px) {
  .large-cards .img {
    max-width: calc(50% - 1.5rem);
    min-width: 10rem;
  }
  .large-cards {
    gap: 5rem 3rem;
  }
}
