.card-2 {
  padding: 1rem;
  padding-top: 0;
  height: 30rem;
  position: relative;
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  isolation: isolate;
  cursor: pointer;
  max-width: var(--max-width);
}

.card-2::before {
  content: "";
  position: absolute;
  background-color: var(--item-bg-color);
  border-radius: var(--border-radius-lg);
  height: 19rem;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.card-2 .line {
  border-top: 1px solid var(--scroll-bar-color-light);
  width: 90%;
  margin: 0.7rem auto;
}

.card-2 .h3 {
  color: var(--heading-color);
}

.card-2 .price {
  width: 100%;
  background-color: var(--bg-color);
  font-weight: var(--heading-font-weight);
  text-align: center;
  padding: 0.8rem 0.5rem;
  color: var(--heading-color);
  font-size: var(--small-font-size);
  border-radius: var(--border-radius);
}

.card-2 .like-btn {
  position: absolute;
  top: 13.5rem;
  right: 1rem;
  padding: 0;
}

.card-2 .like-btn .svg {
  width: 1.5rem;
  fill: var(--red-color);
}
